
/*-------------------------- allmänn css --------------------------*/



body {
    padding-bottom: 20px;
}

header {
    grid-area: hd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem;
    
}

a {
    display: flex;
    background-color: rgb(204, 199, 199);
    text-decoration: none;
    color: black;
    border: 3px;
    border: solid;
    border-radius: 10px;
    display: inline-block;
    padding: 5px;
    margin: 1px;
    
}

aside {
    display: flex;
    justify-self: center;
}

h3 {
    text-align: center;
    
}

section {
    padding-left: 50px;
    padding-right: 50px;
    background-color:  rgb(181, 234, 181);
    border-radius: 20px;
}

#logga {
    grid-area: lg;
    max-height: 20vh;
    border-radius: 100px;
}

nav {
    grid-area: nav;
    background-color: rgb(112, 202, 112);
    border-color: green;
    border-radius: 20px;
    border-width: 8px;
    border-style:solid;
    text-align: center;
    margin: 8px;
}

#navrub {
    margin: 10px;
}

/*-------------------------- landing page css --------------------------*/
#landing-wrapper {
    display: grid;
    grid-template-columns: 15vw 70vw 1fr;
    grid-template-rows: 20vh 40vh;
    grid-template-areas: 
    'lg hd hd'
    'nav sc1 .'
    ;
    gap: 5px;
    
}

#sc1 {
    grid-area: sc1;
}

#info {
    text-align: center;
}

.menu{
    height: 100vh;
    width: 30vw;
    background-color: rgb(112, 202, 112);
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.5s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
    text-align: center;
}

.menu-button{
    cursor: pointer;
    display: inline;
    margin-right: 2rem;
}

.menu-button i.material-icons{
    font-size: 2.5rem;
}

.show{
    left: 0;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}

@media screen and (max-width: 599px) {
    .menu-button {
        left: 0;
    }
    #landing-wrapper {
        display: grid;
        grid-template-columns: 30vw 50vw auto;
        grid-template-rows: 15vh auto;
        grid-template-areas: 
        'hd . lg'
        'sc1 sc1 .'
        ;
    }
    
    #desktopnav {
        position: fixed;
        left: -90vw;
    }

    #logga {
        position:fixed;
        left: 75vw;
        max-height: 15vh;
    } 
    
}

@media screen and (min-width: 600px) {
    .menu {
        width: 50vw;
    }
    .menu-button {
        position: fixed;
        left: -90vw;
    }
    
}

/*-------------------------- info om klättring css --------------------------*/

#info-wrapper {
    display: grid;
    grid-template-columns: 15vw 42vw auto;
    grid-template-rows: 20vh auto 40vh;
    grid-template-areas: 
    'lg hd hd'
    'nav sec1 sec2'
    '. sec3 sec4'    
    ;
    gap: 10px;
    row-gap: 20px;
}

#info-sec1 {
    grid-area: sec1;
}

#info-sec2 {
    grid-area: sec2;
}

#info-sec3 {
    grid-area: sec3;
}

#info-sec4 {
    grid-area: sec4;
}

@media screen and (max-width: 599px) {
    .menu-button {
        left: 0;
    }
    #info-wrapper {
        display: grid;
        grid-template-columns: 1fr 33vw 33vw;
        grid-template-rows: 15vh auto auto auto auto;
        grid-template-areas: 
        'hd hd lg'
        'sec1 sec1 sec1'
        'sec2 sec2 sec2'
        'sec3 sec3 sec3'
        'sec4 sec4 sec4'
        ;
        
        
    }
    
    #desktopnav {
        position: fixed;
        left: -90vw;
    }

    #logga {
        position:fixed;
        left: 75vw;
        max-height: 15vh;
    } 
}

/*-------------------------- anställda css --------------------------*/

#anstallda-wrapper {
    display: grid;
    grid-template-columns: 15vw repeat(2, 28vw) auto;
    grid-template-rows: 20vh repeat(3, 40vh);
    grid-template-areas: 
    'lg hd hd hd'
    'nav s1 s2 s3'
    '. s4 s5 s6'
    '. s7 s8 s9'
    ;
    gap: 5px;
}

#anstalld_1 {
    grid-area: s1;
}

#anstalld_2 {
    grid-area: s2;

}

#anstalld_3 {
    grid-area: s3;

}

#anstalld_4 {
    grid-area: s4;

}

#anstalld_5 {
    grid-area: s5;

}

#anstalld_6 {
    grid-area: s6;

}

#anstalld_7 {
    grid-area: s7;

}

#anstalld_8 {
    grid-area: s8;

}

#anstalld_9 {
    grid-area: s9;

}

/*-------------------------- utrustning css --------------------------*/