
/*-------------------------- allmänn css --------------------------*/

header {
    grid-area: hd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem;
}

a {
    display: inline-block;
    background-color: rgb(238, 238, 238);
    text-decoration: none;
    color: black;
    border: solid;
    border-radius: 10px;
    padding: 5px;
    margin: 1px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

a:hover {
    background-color: rgb(0, 103, 0);
    color: white;
    border-color: rgb(232, 231, 231);
}

aside {
    display: flex;
    justify-self: center;
}

section {
    padding-left: 50px;
    padding-right: 50px;
    background-color:  rgb(181, 234, 181);
    border-radius: 20px;
}

#logga {
    grid-area: lg;
    max-height: 20vh;
    border-radius: 100px;
}

#logga:hover {
    transform: scale(1.05);
}

nav {
    grid-area: nav;
    background-color: #86eb86;
    border-color: green;
    border-radius: 20px;
    border-width: 8px;
    border-style:solid;
    text-align: center;
    margin: 8px;
    max-height: 34vh;
}

.navrub {
    margin: 10px;
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
}

img {
    max-width: 10vw;
    border-radius: 20px;
}

img:hover {
    transform: scale(1.22);
}

button {
    background-color: rgb(240, 237, 237);
    color: black;
    border-radius: 30px;
    border-width: 5px;
    border-color: black;
    padding: 5px;
}

button:hover {
    background-color: rgb(0, 103, 0);
    color: white;
    border-color: rgb(110, 180, 101);
    cursor: pointer;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 26px;
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-size: 20px;
    text-align: center;
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-size: 14px;
    line-height: 1.4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.oldenburg-regular {
    font-family: "Oldenburg", serif;
    font-weight: 400;
    font-style: normal;
}  


  

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

footer {
    grid-area: ft; 
    text-align: center;
    background-color: rgb(181, 234, 181);
    border-width: 10px;
    border-radius: 20px;
    border-color: green;
    border-style: solid;
    padding-bottom: 10px;
}


/*-------------------------- landing page css --------------------------*/
#landing-wrapper {
    display: grid;
    grid-template-columns: 15vw 70vw auto;
    grid-template-rows: 20vh 40vh auto;
    grid-template-areas: 
    'lg hd hd'
    'nav sc1 ssb'
    '. st .'
    'ft ft ft'
    ;
    gap: 5px;
}

#welcome {
    text-align: center;
}

#sc1 {
    grid-area: sc1;
}

#info {
    text-align: center;
}

#start-sidobild {
    grid-area: ssb;
    max-width: none;
    max-height: none;
    width: 13vw;
    height: 40vh;
    align-self: center;
    transform: none;
}

.menu{
    height: 100vh;
    width: 30vw;
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.5s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
    text-align: center;
}

.menu-button{
    cursor: pointer;
    display: inline;
    margin-right: 0.2rem;
    margin-top: 0.4rem;
}

.menu-button i.material-icons{
    font-size: 2.5rem;
}

.show{
    left: 0;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}

@media screen and (max-width: 599px) {
    .menu-button {
        left: 0;
    }
    #landing-wrapper {
        display: grid;
        grid-template-columns: 30vw 50vw auto;
        grid-template-rows: 15vh auto;
        grid-template-areas: 
        'hd . lg'
        'sc1 sc1 .'
        ;
    }
    
    #desktopnav {
        position: fixed;
        left: -120vw;
    }

    #logga {
        position:fixed;
        top: 4vh;
        left: 75vw;
        max-width: 10vh;
    } 

    h1 {
        font-size: 32px;
    }

    p {
        font-size: 18px;
    }
    
}

@media screen and (min-width: 600px) {
    .menu {
        width: 50vw;
    }
    .menu-button {
        position: fixed;
        left: -90vw;
    }
    
}

/*-------------------------- info om klättring css --------------------------*/

#info-wrapper {
    display: grid;
    grid-template-columns: 15vw 40vw auto;
    grid-template-rows: 20vh auto auto auto;
    grid-template-areas: 
    'lg hd hd'
    'nav sec1 sec2'
    'sb sec3 sec4'    
    'ft ft ft'
    ;
    gap: 10px;
    row-gap: 20px;
}

.infobilder {
    max-width: 30vw;
    transform: none;
    margin-top: 20px;
}

#bouldering {
    transform: none;
}

#led {
    transform: none;
}

#multipitch {
    transform: none;
}

#freesolo {
    transform: none;
}

#sidobild {
    grid-area: sb;
    max-width: none;
    max-height: none;
    width: 15vw;
    height: 90vh;
    align-self: center;
}

.info-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

#info-sec1 {
    grid-area: sec1;
}

#info-sec2 {
    grid-area: sec2;
}

#info-sec3 {
    grid-area: sec3;
}

#info-sec4 {
    grid-area: sec4;
}

.info-text {
    margin-top: -10px;
}

@media screen and (max-width: 599px) {
    #info-wrapper {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: 15vh auto auto auto auto;
        grid-template-areas: 
        'hd . lg'
        'sec1 sec1 sec1'
        'sec2 sec2 sec2'
        'sec3 sec3 sec3'
        'sec4 sec4 sec4'
        ;
        
    }

}

/*-------------------------- anställda css --------------------------*/

#anstallda-wrapper {
    display: grid;
    grid-template-columns: 15vw repeat(2, 28vw) auto;
    grid-template-rows: 20vh repeat(4, auto);
    grid-template-areas: 
    'lg hd hd hd'
    'nav s1 s2 s3'
    '. s4 s5 s6'
    '. s7 s8 s9'
    'ft ft ft ft'
    ;
    gap: 10px;
}

.anstalld {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.anstalld:hover {
    transform: scale(1.03);
    background-color:  rgb(151, 211, 151);
}

.p-card{
    margin-top: -10px;
}

#anstalld_1 {
    grid-area: s1;
}

#anstalld_2 {
    grid-area: s2;
}

#anstalld_3 {
    grid-area: s3;
}

#anstalld_4 {
    grid-area: s4;
}

#anstalld_5 {
    grid-area: s5;
}

#anstalld_6 {
    grid-area: s6;
}

#anstalld_7 {
    grid-area: s7;
}

#anstalld_8 {
    grid-area: s8;
}

#anstalld_9 {
    grid-area: s9;
}

@media screen and (max-width: 599px) {
    #anstallda-wrapper {
        display: grid;
        grid-template-columns: 45vw auto;
        grid-template-rows: 15vh repeat(5, auto);
        grid-template-areas: 
        'hd lg'
        's1 s2'
        's3 s4'
        's5 s6'
        's7 s8'
        's9 .'
        ;
        
        
    }
    
    nav {
        max-height: 94vh;
    }

    .anstalld:hover {
        transform: none;
        background-color: rgb(181, 234, 181);

    }
    
    img {
        max-width: 20vw;
    }

    img:hover {
        transform: none;
    }
}

/*-------------------------- Produkter css --------------------------*/

#produkter-wrapper {
    display: grid;
    grid-template-columns: 15vw repeat(4, auto);
    grid-template-rows: 20vh repeat(4, auto);
    grid-template-areas:  
    'lg hd hd hd hd'
    'nav sect1 sect2 sect3 sect4'
    '. sect5 sect6 sect7 sect8'
    '. sect9 sect10 sect11 sect12'
    'ft ft ft ft ft'
    ;
    gap: 15px;
}

.produkt-bild {
    max-width: 15vw;
    margin-bottom: -10px;
    margin-top: 10px;
}

.produkt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.produkt:hover {
    transform: scale(1.05);
    background-color:  rgb(151, 211, 151);
}

.pris {
    margin-top: -5px;
    margin-bottom: -5px;
}

.modell {
    margin-top: -15px;
}

#produkt_1 {
    grid-area: sect1;
}

#produkt_2 {
    grid-area: sect2;
}

#produkt_3 {
    grid-area: sect3;
}

#produkt_4 {
    grid-area: sect4;
}

#produkt_5 {
    grid-area: sect5;
}

#produkt_6 {
    grid-area: sect6;
}

#produkt_7 {
    grid-area: sect7;
}

#produkt_8 {
    grid-area: sect8;
}

#produkt_9 {
    grid-area: sect9;
}

#produkt_10 {
    grid-area: sect10;
}

#produkt_11 {
    grid-area: sect11;
}

#produkt_12 {
    grid-area: sect12;
}

.star {
    font-size: 2rem;
    color: rgb(220, 198, 32);
}

.star-empty {
    font-size: 2rem;
    color: #383838;
}

@media screen and (max-width: 599px) {
    #produkter-wrapper {
        display: grid;
        grid-template-columns: 45vw auto;
        grid-template-rows: 15vh repeat(6, auto);
        grid-template-areas: 
        'hd lg'
        'sect1 sect2'
        'sect3 sect4'
        'sect5 sect6'
        'sect7 sect8'
        'sect9 sect10'
        'sect11 sect12'
        ;
        
        
    }

    .produkt:hover {
        transform: none;
        background-color: rgb(181, 234, 181);

    }
    
    .produkt-bild {
        max-width: 40vw;
    }
}